    body {
        font-family: Arial, sans-serif;
        background: #1e1e1e;
        color: white;
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        background: #2c2c2c;
        padding: 20px;
        text-align: center;
        position: relative;
    }

    header h1 {
        margin: 0;
        font-family: "Orbitron", sans-serif;
        font-size: 32px;
        letter-spacing: 2px;
    }

    .header-logo {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        object-fit: contain;
    }

    main {
        flex: 1;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    footer {
        background: #2c2c2c;
        padding: 20px;
        text-align: center;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(3, 260px);
        gap: 25px;
    }

    details {
        background: #2a2a2a;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #444;
        transition: transform 0.3s ease, background 0.3s ease;
        height: 160px;
    }

    details:hover { transform: scale(1.05); background: #333; }
    details[open] { height: auto; background: #3a3a3a; }

    summary {
        list-style: none;
        padding: 20px;
        text-align: center;
        min-height: 160px;
    }

    summary::-webkit-details-marker { display: none; }

    .logo {
        width: 64px;
        margin-bottom: 10px;
    }

    .content {
        padding: 15px;
        border-top: 1px solid #555;
    }

    

    /* RESPONSIVE TABLETTE */
    @media (max-width: 1000px) {
        .dashboard {
            grid-template-columns: repeat(2, 1fr);
        }

        summary { min-height: 140px; }
        details { height: 140px; }
        
        /* Bouton retour haut */
        .back-to-top {
            position: fixed;
            bottom: 25px;
            right: 25px;
            background: #3a3a3a;
            color: white;
            font-size: 24px;
            padding: 10px 15px;
            border-radius: 50%;
            border: 2px solid #555;
            text-decoration: none;
            transition: 0.3s;
    }
        .back-to-top:hover { transform: scale(1.15); background: #555; }
    }

    /* RESPONSIVE MOBILE */
    @media (max-width: 600px) {
        .dashboard {
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }

        summary { min-height: 120px; }
        details { height: 120px; }

        .header-logo {
            width: 45px;
        }
    }
